.gitignore
Desktop
Documents
Downloads
_gvimrc
test.tex
.bash_aliases
.bash_history
.bash_logout
.bashrc
.cache
.config
.dbus
.git
.gitconfig
.gitignore.swp
.gnupg
.lesshst
.local
.mozilla
.octave_hist
.presage
.profile
.python_history
.qpsrc
.selected_editor
.ssh
.sudo_as_admin_successful
.vim
.viminfo
.Xauthority
.xdvirc
.xscreensaver
.xsession-errors
